<div class="page-wrap">
  <div class="color-stack">
    <img
      src="../../../../../assets/images/gomariza-logo-texto.png"
      alt="Logo Gomariza Capilar"
      width="15%"
    />

    <mat-card>
      <mat-card-content>
        <mat-form [formGroup]="loginForm" (ngSubmit)="doLogin()">
          <mat-form-field appearance="outline">
            <input
              matInput
              id="email"
              type="text"
              required
              formControlName="email"
              placeholder="Email"
            />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <input
              *ngIf="!showPassword"
              matInput
              id="password"
              type="password"
              formControlName="password"
              placeholder="Contraseña"
            />
            <input
              *ngIf="showPassword"
              matInput
              id="password"
              type="text"
              formControlName="password"
              placeholder="Contraseña"
            />
            <mat-icon
              *ngIf="!showPassword"
              matSuffix
              (click)="togglePasswordVisibility()"
              >visibility</mat-icon
            >
            <mat-icon
              *ngIf="showPassword"
              matSuffix
              (click)="togglePasswordVisibility()"
              >visibility_off</mat-icon
            >
          </mat-form-field>
          <button
            mat-raised-button
            type="submit"
            (click)="doLogin()"
            style="background-color: #1a5bfe; color: white"
          >
            Entrar
          </button>
        </mat-form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
